/* حذف فاصله پیش‌فرض مرورگر */
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Vazir', sans-serif;
  background-color: #f9f4ef; /* پس‌زمینه کل صفحات */
}

/* main محتوا زیر هدر */
main {
  margin-top: -20px; /* ارتفاع واقعی هدر */
  min-height: calc(100vh - 70px);
}

/* حذف استایل عمومی a */
a {
  text-decoration: none;
}

/* لینک‌های هدر */
.link {
  color: #dd37c1;
  text-decoration: none;
  font-size: 18px;
  padding: 5px 10px;
  background: rgba(0,0,0,0.2);
  border-radius: 5px;
  transition: all 0.3s;
}
